.collaboration {
  //padding: 245px 0;
  width: 100%;
  background: url("../../public/collaboration-backround.png") no-repeat center;
  min-height: 100vh;
  background-size: cover;

  .collaborationContainer {
    position: absolute;
    top: 50%;
    margin-left: 67px;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);

    .content {
      max-width: 787px;
      width: 100%;

      p {
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
        margin-bottom: 40px;
      }
    }

  }
}

@media (max-width: 767.98px) {
  .collaborationContainer {
    margin-left: 0 !important;
  }

}

@media screen and (max-width: 575.98px) {
  .content {
    p {
      font-size: 14px !important;
    }
  }

}