.collaboration {
  background: url("../../public/блок-1.webp") no-repeat center;
  background-size: cover;
  //padding: 245px 0;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  position: relative;
  overflow: hidden;

  //&::before {
  //  content: '';
  //  opacity: 60%;
  //  background-color: #000;
  //  position: absolute;
  //  width: 100%;
  //  height: 100%;
  //  top: 0;
  //  left: 0;
  //  bottom: 0;
  //  right: 0;
  //  z-index: 2;
  //}

  .ellips1 {
    background: #AD00FF;
    opacity: 0.4;
    filter: blur(300px);
    width: 600px;
    z-index: 99;
    left: 0;
    top: 0;
    height: 500px;
    position: absolute;
  }


  .ellips3 {
    background: #AD00FF;
    opacity: 0.4;
    filter: blur(300px);
    position: absolute;
    z-index: 88;
    width: 600px;
    height: 600px;
    right: 0;
    bottom: 0;
  }

  .logo {
    font-size: 70px;
    font-weight: 400;
    line-height: 72px;
    color: #fff;
    max-width: 690px;
    text-transform: uppercase;
    margin-top: 150px;
    margin-bottom: 22px;
    z-index: 8;
    position: relative;
    @media screen and (max-width: 767.98px) {
      font-size: 50px;

    }

    @media screen and (max-width: 575.98px) {
      font-size: 35px;
      line-height: 37px;

    }
  }


  .collaborationContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 99;

    .content {
      max-width: 787px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(180%);

      .titleContent{
        font-size: 18px;
        font-weight: 400;
        line-height: 42px;
        color: #fff;
        max-width: 890px;
        font-family: cursive;
        margin-top: 40px;
        text-transform: uppercase;
        margin-bottom: 22px;

        @media screen and (max-width: 767.98px) {
          font-size: 50px;

        }

        @media screen and (max-width: 575.98px) {
          font-size: 35px;
          line-height: 37px;
          text-align: center;

        }
      }

      p {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        margin-bottom: 40px;
      }
    }

  }
}

@media (max-width: 767.98px) {
  .collaboration {
    //background: url("../../public/0001.gif") no-repeat center !important;
    background-size: cover !important;

  }

  .ellips1 {
    filter: blur(450px) !important;
  }

  .ellips3 {
    display: none !important;
  }

  .collaborationContainer {
    margin-left: 0 !important;
  }

}


@media screen and (max-width: 575.98px) {
  .content {

    transform: translateY(100%) !important;

    p {
      font-size: 14px !important;
    }
  }

}