.title{
  font-size: 50px;
  font-weight: 400;
  line-height: 72px;
  color: #fff;
  max-width: 690px;
  text-transform: uppercase;
  margin-bottom: 22px;

  @media screen and (max-width: 767.98px) {
    font-size: 50px;

  }

  @media screen and (max-width: 575.98px) {
    font-size: 35px;
    line-height: 37px;
    text-align: center;

  }
}