.btnContainer {
  display: inline-flex;
  flex-direction: column;
  width: 200px;

  .button {
    background: url("../../public/button.png") no-repeat;
    height: 65px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
  }
}

@media (max-width: 767.98px) {
  .btnContainer {
    width: 136px;

    .button {
      height: 47px;
      line-height: 14px;
      font-size: 14px;
    }
  }
}
