.heroModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(15, 7, 31, 0.7);
  backdrop-filter: blur(25px);
  z-index: 999;
  //border: 1px solid red;

  .heroContainer {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    border-radius: 30px;
    justify-content: space-between;
    //padding: 0 15px;

  }

  .heroContainerMob {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

  }

  .heroImage {
    width: 48%;
    cursor: pointer;
  }

  .heroImageMob {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;

  }

  .heroContent {
    width: 48%;
    max-width: 465px;

    .title {
      color: #fff;
      font-size: 42px;
      font-weight: 400;
      line-height: 59px;
    }

    p {
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
    }


  }

  .heroContentMob {
    width: 100% !important;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 15px;
    //max-width: 300px;


    .title {
      color: #fff;
      font-size: 28px;
      font-weight: 400;
      line-height: 35px;
      text-align: center;
    }

    p {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
    }
  }


}

.hidden {
  display: none;
}