.elonMusk {
  background-color: #000;
  position: relative;
  padding: 170px 0;
  min-height: 100vh;

  .ellips1 {
    background: rgba(1, 133, 255, 0.9);
    filter: blur(1200px);
    width: 850px;
    height: 850px;
    position: absolute;
  }

  .ellips2 {
    background: rgba(174, 1, 255, 0.8);
    filter: blur(800px);
    width: 610px;
    height: 610px;
    position: absolute;
    right: -368px;
    bottom: -240px;
  }

  .ellips3 {
    background: #DD76F9;
    opacity: 0.4;
    position: absolute;
    filter: blur(600px);
    transform: rotate(-46.76deg);
    width: 772.77px;
    height: 816.89px;
    right: -368px;
    bottom: -240px;
  }
}