.elonMusk {
  background-color: #000;
  position: relative;
  padding: 170px 0 170px 0;
  min-height: 100vh;


  .ellips1 {
    background: rgba(1, 133, 255, 0.9);
    filter: blur(1200px);
    width: 850px;
    height: 850px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .ellips2 {
    background: rgba(174, 1, 255, 0.8);
    filter: blur(800px);
    width: 610px;
    height: 610px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  //.ellips3 {
  //  background: #DD76F9;
  //  opacity: 0.4;
  //  position: absolute;
  //  filter: blur(600px);
  //  transform: rotate(-46.76deg);
  //  width: 772.77px;
  //  height: 816.89px;
  //  right: -368px;
  //  bottom: -240px;
  //}

  .elonMuskContainer {
    background: url("../../public/kindnessBackground.webp") no-repeat center;
    padding-top: 90px;
    height: 800px;
    z-index: 6;
    position: relative;
    width: 100%;

    .images {
      height: 100%;
      display: flex;
      position: relative;
      //align-items: baseline;
      //justify-content: space-evenly;

      .activeImage {
        transform: scale(1);

      }

      .scaleImage {
        transform: scale(2);
        transition: transform 1000ms ease-in-out;
        position: absolute;
        left: 15%;
        bottom: 32%;
      }


      .personWrapper {
        display: flex;

        .element:nth-of-type(2),
        .element:nth-of-type(3) {
          //margin-right: 20%;
          align-self: end;

        }
        .element:nth-of-type(2){
          position: absolute;
          left: 50%;
          bottom: 10%;
        }
        .element:nth-of-type(3){
          position: absolute;
          left: 75%;
          bottom: 10%;
        }


      }


      .info {
        max-width: 450px;
        position: absolute;
        right: 10%;

        h4 {
          font-style: normal;
          font-weight: 400;
          font-size: 45px;
          line-height: 120%;
          color: #FFFFFF;
        }

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 120%;
          color: #FFFFFF;

        }
      }


    }

    .arrowContainer {
      position: absolute;
      top: 50%;
      bottom: 0;
      margin: auto;
      cursor: pointer;
      z-index: 2;
    }

  }

}

@media screen and (max-width: 991.98px) {
  .image {
    flex-direction: column !important;
  }

  .elonMusk {
    padding: 35px 0 35px 0 !important;

    .elonMuskContainer {
      padding-top: 0px !important;

      .images {
        align-items: center;
        padding-left: unset !important;
        flex-direction: column !important;

        .scaleImage{
          position: static !important;
          transform: scale(1) !important;
        }
        .personWrapper{
          flex-direction: column !important;
          .element:nth-of-type(2){
            position: static !important;
          }
          .element:nth-of-type(3){
            position: static !important;

          }
        }

        .info {
         top: 80%;
        }

        .activeImage {

          width: 300px;
          height: 370px ;

        }


      }
    }

    .title {
      font-size: 36px !important;
      line-height: 36px !important;


    }

    .text {
      font-size: 14px !important;
      line-height: 14px !important;
      max-width: 300px !important;

    }
  }

}

@media (max-width: 767.98px) {

  .title {
    margin-top: 20px !important;
  }
  .text {
    margin-top: 20px !important;
  }

  .info {

    h4 {
      font-size: 36px !important;
      line-height: 43px !important;
    }

    p {
      font-size: 14px !important;
      line-height: 17px !important;
    }
  }

  .personWrapper {
    align-self: start !important;
    flex-wrap: wrap !important;


    .activeImage {
      width: 130px !important;
      height: 160px !important;

    }

  }
  .activeImage {
    width: 270px !important;
    height: 330px !important;

  }


}