.wrapper {
  margin: 0 auto;
  margin-bottom: 24px;

  &:hover .card {
    transform: rotateY(180deg);
  }
}

.card {
  position: relative;
  cursor: pointer;
  transition: all 1.5s ease;
  transform-style: preserve-3d;


  .frontHeroItem {
    position: relative;
    z-index: 2;

  }

  .frontHeroItem,
  .heroItem {
    backface-visibility: hidden;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .heroItem {
    position: relative;
    border: 1px solid white;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    z-index: 1;


    //&:hover .heroIcon {
    //  display: block;
    //}

    .heroImage {
      &:hover {
        opacity: 80%;
      }
    }

    .heroName {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      left: 0;
      width: 100%;
      background: rgba(12, 19, 51, 0.5);
      backdrop-filter: blur(25px);
      font-style: normal;
      font-weight: 400;
      text-align: center;
      font-size: 22px;
      line-height: 140%;
      color: #FFFFFF;
    }

    .hidden {
      display: none;
    }

    .heroIcon {
      //display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }
}