.collectiveResponsibility {
  padding: 147px 0 178px 0;
  position: relative;
  background: url("../../public/collectiveResponsibilityBg.webp") no-repeat center;
  background-size: cover;
  min-height: 100vh;
  transition: all 0.7s ease-in-out !important;
  overflow: hidden;

  &::before {
    content: '';
    background: radial-gradient(50% 50% at 50% 50%, #85105F 0%, rgba(133, 16, 95, 0.19) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
  }

  .ellips1 {
    background: rgba(1, 133, 255, 0.9);
    filter: blur(1200px);
    width: 850px;
    height: 850px;
    position: absolute;
  }

  .ellips2 {
    background: rgba(174, 1, 255, 0.8);
    filter: blur(800px);
    width: 610px;
    height: 610px;
    position: absolute;
    right: -368px;
    bottom: -240px;
  }

  .ellips3 {
    background: #DD76F9;
    opacity: 0.4;
    position: absolute;
    filter: blur(600px);
    transform: rotate(-46.76deg);
    width: 772.77px;
    height: 816.89px;
    right: -368px;
    bottom: -240px;
  }

  .title {
    font-size: 46px;
    font-weight: 400;
    line-height: 46px;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 8;
    position: relative;
    text-align: center;


  }

  .collectiveResponsibilityContainer {
    background: none;
    //backdrop-filter: blur(25px);
    z-index: 6;
    position: relative;
    //border-radius: 30px;
    min-height: 100%;
    transition: all 0.7s ease-in-out;


    .heroesList {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 120px 30px;
      position: relative;

      .heroItem {
        cursor: pointer;
        margin: 0 auto;
        position: relative;
        margin-bottom: 24px;
        border: 1px solid transparent;
        border-radius: 30px;
        transition: all 1s ease;

        &:hover {
          border: 1px solid white;

        }

        &:hover .heroIcon {
          display: block;
        }

        .heroImage {
          &:hover {
            opacity: 80%;
          }

        }

        .heroName {
          position: absolute;
          bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 70px;
          border-bottom-right-radius: 30px;
          border-bottom-left-radius: 30px;
          left: 0;
          width: 100%;
          background: rgba(12, 19, 51, 0.5);
          backdrop-filter: blur(25px);
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 140%;
          color: #FFFFFF;
        }

        .hidden {
          display: none;
        }

        .heroIcon {
          display: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          pointer-events: none;
        }
      }

    }
  }


}

.firstColor,
.secondColor,
.thirdColor,
.fourthColor,
.fifthColor,
.sixthColor {
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    transition: all 0.7s ease-in-out !important;
  }
}

.firstColor {
  &::before {
    background: radial-gradient(50% 50% at 50% 50%, #343E79 0%, rgba(52, 62, 121, 0.5) 100%);
  }
}

.secondColor {
  &::before {
    background: radial-gradient(50% 50% at 50% 50%, #18222B 0%, rgba(24, 34, 43, 0.5) 100%);
  }
}

.thirdColor {
  &::before {
    background: radial-gradient(50% 50% at 50% 50%, #421011 0%, rgba(66, 16, 17, 0.5) 100%);
  }
}

.fourthColor {
  &::before {
    background: radial-gradient(50% 50% at 50% 50%, #7D0358 0%, rgba(125, 3, 88, 0.5) 100%);
  }
}

.fifthColor {
  &::before {
    background: radial-gradient(50% 50% at 50% 50%, #143E2A 0%, rgba(20, 62, 42, 0.5) 100%);
  }
}

.sixthColor {
  &::before {
    background: radial-gradient(50% 50% at 50% 50%, #010103 0%, rgba(1, 1, 3, 0.5) 100%);
  }
}

@media (max-width: 991.98px) {
  .heroesList {
    display: none !important;
  }

  .collectiveResponsibilityContainer {
    background: unset !important;
  }


}

@media screen and (max-width: 575.98px) {
  .title {
    font-size: 36px !important;
    margin-bottom: 40px !important;
  }

  .collectiveResponsibility {
    padding: 80px 0 91px 0;
  }

}