.footer {
  //background-color: #000;
  padding: 30px 0 30px 0;
  min-height: 400px;
  //backdrop-filter: blur(30px);
  position: relative;

  .footerContainer {
    display: flex;
    justify-content: space-between;

    .leftSide {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      span {
        color: #fff;
        font-size: 28px;
      }

    }

    .rightSide {
      .additionalQuestions {
        p {
          color: #f9f9f9;
          font-weight: 400;
          font-size: 20px;

          .link {
            font-size: 20px;
            font-weight: 600;
            color: white;
          }
        }

      }

      .socialMedia {
        display: flex;
        justify-content: end;
        margin-top: 100px;

        li {
          margin-right: 20px;
        }

        .icon {
          color: #fff;
          width: 30px;
          height: 30px;

          background-color: transparent;
          font-size: 15px;
        }
      }


    }


  }
}

@media (max-width: 991.98px) {
  .footerContainer {
    flex-direction: column;
  }
  .socialMedia {
    justify-content: center !important;
  }

}

@media (max-width: 767.98px) {
  .footerContainer {
    text-align: center;
  }


}