.kindness {
  background-color: #000;
  position: relative;
  padding: 140px 0 200px;
  min-height: 100vh;
  overflow: hidden;
  .ellips1 {
    background: rgba(1, 133, 255, 0.9);
    filter: blur(1200px);
    width: 850px;
    height: 850px;
    position: absolute;
  }

  .ellips2 {
    background: rgba(174, 1, 255, 0.8);
    filter: blur(800px);
    width: 610px;
    height: 610px;
    position: absolute;
    right: -368px;
    bottom: -240px;
  }

  .ellips3 {
    background: #DD76F9;
    opacity: 0.4;
    position: absolute;
    filter: blur(600px);
    transform: rotate(-46.76deg);
    width: 772.77px;
    height: 816.89px;
    right: -368px;
    bottom: -240px;
  }

  .kindnessContainer {
    background: url("../../public/kindnessBackground.webp") no-repeat center;
    z-index: 6;
    position: relative;
    min-height: 100%;
    width: 100%;

    .mainBlock {
      padding: 0 150px;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      position: relative;
      bottom: 30px;

      .dragonImage {
        width: 50%;
        max-width: 393px;
      }

      .dragonAbout {
        width: 50%;

        .title {
          color: #fff;
          text-transform: uppercase;
          font-size: 56px;
          font-weight: 400;
          line-height: 67px;

        }

        .text {
          color: #fff;
          font-size: 16px;
          font-weight: 400;
          line-height: 27px;
          margin: 20px 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .mainBlock {
    flex-direction: column;

    .dragonImage,
    .dragonAbout {
      width: 100% !important;

    }
  }

}

@media (max-width: 767.98px) {
  .kindness {
    padding: 50px 0 50px !important;
  }

  .title {
    font-size: 32px !important;
    line-height: 38px !important;
  }

  .text {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .mainBlock{
    padding: 0 0 !important;
  }

  .kindnessContainer {
    background: none !important;
  }

}
