.kindness {
  background-color: #000;
  position: relative;
  padding: 140px 0 200px;
  min-height: 100vh;
  overflow: hidden;

  .ellips1 {
    background: rgba(1, 133, 255, 0.9);
    -webkit-filter: blur(1200px);
    filter: blur(1200px);
    width: 600px;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .ellips2 {
    background: rgba(174, 1, 255, 0.8);
    -webkit-filter: blur(800px);
    filter: blur(800px);
    width: 610px;
    height: 610px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  //.ellips3 {
  //  background: #DD76F9;
  //  opacity: 0.4;
  //  position: absolute;
  //  filter: blur(600px);
  //  //transform: rotate(-46.76deg);
  //  width: 772.77px;
  //  height: 816.89px;
  //  right:0;
  //  bottom: 0;
  //}

  .starLeft {


    .star1 {
      width: 20px;
      position: absolute;
      left: 130px;
      z-index: 8;
      top: 70px;
      height: 20px;
      background: url("../../public/stars/firstStar.svg") no-repeat center;
    }

    .star2 {
      width: 40px;
      left: 200px;
      top: 120px;
      position: absolute;
      z-index: 8;
      height: 40px;
      background: url("../../public/stars/secondStar.svg") no-repeat center;

    }

    .star3 {
      width: 18px;
      position: absolute;
      top: 180px;
      left: 110px;
      height: 18px;
      z-index: 8;
      background: url("../../public/stars/thirdStar.svg") no-repeat center;
    }

    .star4 {
      width: 14px;
      height: 14px;
      top: 230px;
      left: 200px;
      z-index: 8;
      position: absolute;
      background: url("../../public/stars/fourthStar.svg") no-repeat center;
    }

    @media (max-width: 991.98px) {
      display: none;

    }
  }

  .starRight {

    .star5 {
      width: 35px;
      position: absolute;
      top: 450px;
      right: 260px;
      z-index: 8;
      height: 35px;
      background: url("../../public/stars/fifthStar.svg") no-repeat center;
    }

    .star6 {
      width: 45px;
      position: absolute;
      right: 170px;
      top: 500px;
      z-index: 8;
      height: 45px;
      background: url("../../public/stars/sixthStar.svg") no-repeat center;
    }

    .star7 {
      width: 22px;
      position: absolute;
      right: 280px;
      top: 600px;
      height: 22px;
      z-index: 8;
      background: url("../../public/stars/seventhStar.svg") no-repeat center;
    }

    .star8 {
      width: 18px;
      right: 200px;
      top: 660px;
      z-index: 8;
      height: 18px;
      position: absolute;
      background: url("../../public/stars/eighthsStar.svg") no-repeat center;
    }
  }

  .kindnessContainer {
    background: url("../../public/kindnessBackground.webp") no-repeat center;
    z-index: 6;
    position: relative;
    min-height: 100%;
    width: 100%;

    .mainBlock {
      padding: 0 150px;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      position: relative;
      bottom: 30px;

      .dragonImage {
        width: 50%;
        max-width: 393px;
      }

      .dragonAbout {
        width: 50%;


        .title {
          color: #fff;
          text-transform: uppercase;
          font-size: 56px;
          font-weight: 400;
          line-height: 67px;

        }

        .text {
          color: #fff;
          font-size: 16px;
          font-weight: 400;
          line-height: 27px;
          margin: 20px 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .mainBlock {
    flex-direction: column;

    .dragonImage,
    .dragonAbout {
      width: 100% !important;

    }
  }

}

@media (max-width: 767.98px) {
  .kindness {
    padding: 50px 0 50px !important;
  }

  .ellips1,
  .ellips2{
    display: none !important;
  }

  .title {
    font-size: 32px !important;
    line-height: 38px !important;
  }

  .text {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .mainBlock {
    padding: 0 0 !important;
  }

  .kindnessContainer {
    background: none !important;
  }

}

@media screen and (max-width: 575.98px) {
  .dragonImage {
    max-width: 200px !important;

  }

}
